// @flow
/**
 *
 * {{ properCase name }}
 *
 */
import { PureComponent } from 'react';
import styled from 'styled-components';

import styles from './{{ properCase name}}.style';
import type { Props } from './types';

class {{ properCase name}} extends PureComponent<Props> {
  static defaultProps = {};

  render() {
    return (
      <div className={styles.default}></div>
    );
  }
}

export default styled({{ properCase name }})`
  ${styles};
`;

export { {{ properCase name }} as {{ properCase name }}Vanilla };
