/**
 *
 * {{ properCase name }}
 *
 */
// @flow
import type { Node } from 'react';
import styles from './{{ properCase name }}.style.js';
import type { Props } from './types';

const {{ properCase name }} = ({ children }: Props): Node => <div className={styles.default}>{children}</div>;

{{ properCase name }}.defaultProps = {};

export default {{ properCase name }};
